@import "compass";
@import "compass/layout";
@import "partials/normalize";

html, body, .whiteboard {
	@include stretch;
	overflow: hidden;
	z-index: 1;
}

.whiteboard-test {
	border: 1px solid #000;
	height: 500px;
	width: 500px;
	z-index: 1;
}

.tjs-start {
	bottom: 5px;
	right: 5px;
	position: absolute;
	z-index: 2;
}